page{
	background: #F9F9F9;
	font-family: PingFang SC;
	color: #333333;
}
.place-order{
	width: 750rpx;
	.line_button,
	.line_input,
	.line_picker{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100rpx;
		border-bottom: 2rpx solid #F2F2F2;
		font-size: 30rpx;
		font-weight: 400;
		.right{
			display: flex;
			justify-content: flex-end;
			align-items: center;
			width: 50%;
			text{
				font-size: 28rpx;
				line-height: 28rpx;
				&.noSet{
					color: #D4D4D4;
				}
			}
			image{
				width: 36rpx;
				height: 36rpx;
			}
			.picker{
				display: flex;
				align-items: center;
			}
			input{
				width: 100%;
				box-sizing: border-box;
				padding-right: 20rpx;
				font-size: 28rpx;
				font-weight: 400;
				line-height: 28rpx;
				color: #333333;
				text-align: right;
			}
			.input-placeholder{
				font-size: 28rpx;
				font-weight: 400;
				line-height: 28rpx;
				color: #D4D4D4;
			}
		}
	}
	.line_button{
		.right{
			font-size: 24rpx;
			text{
				width: 124rpx;
				height: 50rpx;
				color: #B2B2B2;
				border: 2rpx solid #B2B2B2;
				border-radius: 4px;
				text-align: center;
				line-height: 50rpx;
				margin-left: 22rpx;
				&.active{
				   color: #EB591C;
				   border: 2rpx solid #EB591C;
				}
			}
		}
	}
	.line_img,
	.line_textarea{
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 28rpx 0;
		border-bottom: 2rpx solid #F2F2F2;
		font-size: 30rpx;
		font-weight: 400;
		.textarea{
			position: relative;
			width: 100%;
			box-sizing: border-box;
			padding: 12rpx 16rpx 38rpx;
			margin-top: 18rpx;
			background: #F8F8F8;
			border-radius: 4px;
			textarea{
				width: 100%;
				height: 168rpx;
				font-size: 26rpx;
				line-height: 34rpx;
				color: #333333;
				overflow: hidden;
			}
			.textarea-placeholder{
				font-size: 26rpx;
				line-height: 34rpx;
				color: #D4D4D4;
			}
			.count{
				position: absolute;
				bottom: 10rpx;
				right: 12rpx;
				font-size: 20rpx;
				line-height: 28rpx;
				color: #A8A8A8;
			}
		}
		
	}
	.line_img{
		border-bottom:0;
		.line_name{
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			width: 100%;
			margin-bottom: 20rpx;
			.right{
				font-size: 20rpx;
				line-height: 20rpx;
				color: #CECECE;
			}
		}
		.img_ul{
			width: 100%;
			display: flex;
			image{
				width: 218rpx;
				height: 218rpx;
				border-radius: 8rpx;
				margin-right: 22rpx;
				&:last-of-type{
					margin-right: 0;
				}
			}
		}
	}
	.payment,
	.group{
		width: 750rpx;
		box-sizing: border-box;
		padding: 0 24rpx;
		margin-top: 16rpx;
		background: #FFFFFF;
	}
	.commodity{
		margin-top: 16rpx;
		width: 750rpx;
		.content{
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			padding: 24rpx;
			background: #FFFFFF;
			display: flex;
			align-items: center;
			.img{
				width: 200rpx;
				height: 200rpx;
				margin-right: 24rpx;
				image{
					width: 100%;
					height: 100%;
					border-radius: 8rpx;
				}
			}
			.middle{
				display: flex;
				flex-direction: column;
				.goods-title{
					font-size: 28rpx;
					width: 460rpx;
					overflow: hidden;
					text-overflow:ellipsis;
					white-space: nowrap;
				}
				.label{
					display: flex;
					flex-wrap: wrap;
					width: 476rpx;
					.label_li{
						height: 28rpx;
						padding: 0 10rpx;
						margin: 8rpx 12rpx 6rpx 0;
						background: #F5F5F5;
						border-radius: 2px;
						font-size: 20rpx;
						line-height: 28rpx;
						color: #BAC0C7;
						&:last-of-type{
							margin-right: 0;
						}
					}
					.labal_li2{
						background: #FFFFFF;
						height: 24rpx;
						color: #F3895D;
						border:2rpx solid #F3895D;
					}
				}
				.address{
					margin-top: 38rpx;
					font-size: 24rpx;
					color: #8F8F8F;
					image{
						width: 14rpx;
						height: 20rpx;
						margin-right: 4rpx;
					}
				}
				.money{
					margin-top: 2rpx;
					.paid{
						font-size: 20rpx;
						color: #636363;
						margin-right: 6rpx;
					}
					.symbol{
						font-size: 15rpx;
						margin-bottom: 2rpx;
					}
					.price{
						font-size: 30rpx;
						color: #EFA22A;
					}
				}
			}
		}
	}
	.payment{
		margin-bottom: 18rpx;
	}
	.botBox{
		width: 750rpx;
		position: fixed;
		bottom: 0;
		background: #FFFFFF;
		.bot{
			width: 100%;
			height: 100rpx;
			box-sizing: border-box;
			padding: 0 24rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.left{
				.paid{
					font-size: 24rpx;
					margin-right: 6rpx;
				}
				.symbol{
					font-size: 15rpx;
					color: #EFA22A;
					margin-bottom: 2rpx;
				}
				.price{
					font-size: 30rpx;
					color: #EFA22A;
				}
			}
			.right{
				width: 340rpx;
				height: 76rpx;
				font-size: 32rpx;
				color: #FFFFFF;
				background: #57BFA3;
				border-radius: 4px;
				text-align: center;
				line-height: 76rpx;
			}
		}
	}
}
.safety{
	background: #FFFFFF;
}