page{
	background: #F9F9F9;
}
.order-box{
	font-family: PingFang SC;
	color: #333333;
}
.status{
	background: #FFFFFF;
}
.pagination{
	width: 750rpx;
	height: 90rpx;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2rpx solid #EEEEEE;
	.ul{
		width: 450rpx;
		height: 54rpx;
		border: 2rpx solid #505050;
		border-radius: 8rpx;
		display: flex;
		.li{
			border-right: 2rpx solid #505050;
			text-align: center;
			width: 100%;
			height: 100%;
			font-size: 26rpx;
			line-height: 54rpx;
			&:last-child{
				border-right: 0;
			}
			.active{
				color: #FFFFFF;
				background: #505050;
			}
		}
		.line{
			width: 2rpx;
			height: 54rpx;
			background-color: #505050;
		}
	}
	.img{
		position: absolute;
		right: 10rpx;
		display: flex;
		align-items: center;
		image{
			width: 68rpx;
			height: 68rpx;
		}
	}
}
.pagination_search{
	width: 750rpx;
	height: 90rpx;
	background: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: space-around;
	&:before{
		content: '';
		display: block;
	}
	.search{
		width: 636rpx;
		height: 60rpx;
		display: flex;
		align-items: center;
		background: #F6F7F8;
		image{
			margin-left: 20rpx;
			width: 28rpx;
			height: 28rpx;
		}
	}
	.screen{
		display: flex;
		flex-direction: column;
		align-items: center;
		image{
			width: 52rpx;
			height: 52rpx;
		}
		text{
			font-size: 18rpx;
			color: #7F7F7F;
		}
	}
}
.statistics{
	width: 750rpx;
	height: 60rpx;
	font-size: 20rpx;
	color: #8F8F8F;
	.ul{
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.li{
			.number{
				color: #57BFA3;
			}
		}
	}
}
.order_ul{
	.order_li{
		width: 750rpx;
		background: #FFFFFF;
		box-sizing: border-box;
		padding: 24rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 16rpx;
		.right{
			display: flex;
			align-items: center;
			.img{
				width: 148rpx;
				height: 148rpx;
				margin-right: 18rpx;
				border-radius: 4px;
				overflow: hidden;
				image{
					width: 100%;
					height:100%;
				}
			}
			.details{
				width: 400rpx;
				display: flex;
				flex-direction: column;
				font-size: 24rpx;
				line-height: 36rpx;
				color: #8F8F8F;
				.title{
					font-size: 26rpx;
					color: #333333;
					font-weight: 500;
					line-height: 34rpx;
					margin-bottom: 12rpx;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					overflow: hidden;
				}
			}
		}
		.state{
			display: flex;
			flex-direction: column;
			align-items: center;
			.top{
				font-size: 24rpx;
				margin-bottom: 44rpx;
			}
			.centre{
				font-weight: bold;
				font-size: 28rpx;
				.symbol{
					font-size: 16rpx;
				}
			}
			.bot{
				font-size: 20rpx;
			}
		}
	}
}